body {
    display: flex;
    width: 80%;
    justify-content: center;
}



#map .svg-holder {
    background-color:#9DE7FB;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

path {
    fill: #EBE4F1;
}

circle {
    fill: #EBE4F1;
    stroke: black;
}

